
@media(min-width: 0px) {
    .ribbon {
        display: none;
    }
}

@media(min-width: 770px) {
    .ribbon {
        display: block;
    }
}

@media(min-width: 1286px) {
    .ribbon {
        
    }
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
  }
  
